#!/usr/bin/env xdg-open

[Desktop Entry]
Name=Terminal
Name[en_CA]=Terminal
Name[en_GB]=Terminal
Name[es]=Terminal
Comment[en_CA]=Use the command line
Comment[en_GB]=Use the command line
Comment[es]=Use la línea de comandos
TryExec=gnome-terminal
Exec=gnome-terminal --geometry=138x51
Icon=utilities-terminal
Type=Application
X-GNOME-DocPath=gnome-terminal/index.html
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-terminal
X-GNOME-Bugzilla-Component=BugBuddyBugs
X-GNOME-Bugzilla-Version=2.26.3.1
Categories=GNOME;GTK;Utility;TerminalEmulator;
Name[en_US]=Terminal
Icon[en_US]=gnome-terminal
Comment[en_US]=Use the command line
Terminal=false
