[user]
  name = Ben Orozco
  email = benoror@gmail.com
	signingkey = CCF10E4807D46DA6
[core]
  editor = nvim
  pager = less -+F -+X
[log]
  abbrevCommit = true
[format]
  pretty = oneline
[alias]
  co = checkout
  br = branch
  # https://hackernoon.com/lesser-known-git-commands-151a1918a60#.xoew79l5i
  please = push --force-with-lease
  commend = commit --amend --no-edit
  it = !git init && git commit -m “root” --allow-empty
  shorty = status --short --branch
  st = status --short --branch
	merc = merge --no-ff
	grog = log --graph --abbrev-commit --decorate --all --format=format:\"%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(dim white) - %an%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n %C(white)%s%C(reset)\"
[commit]
	gpgsign = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
