#!/usr/bin/env xdg-open

[Desktop Entry]
Name=URxvt Terminal
TryExec=urxvt
Exec=urxvt -e screen -D -RR
Icon=utilities-terminal
Type=Application
Icon[en_US]=gnome-terminal
Terminal=false
